<!DOCTYPE html>
<html>
<head>
	<title>Study-Center!</title>
</head>
<body>
	<div class="container">
		<h1 class="text-center">Create an account, fill out a survery, then get matched up with someone who can help!</h1>
		{{{ body }}}
	</div>
</body>
</html>
